<IfModule mod_rewrite.c>
    RewriteBase /public
    <IfModule mod_negotiation.c>
        Options +FollowSymlinks -MultiViews
    </IfModule>

    RewriteEngine On

    #1and1 to enable PHP 5.4
    AddHandler x-mapp-php6 .php 

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
